.banner {
    background: var(--gradient-blue);
    color: var(--white);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__title {
    font-size: 18px;
    font-weight: 700;
}

.banner__text {
    font-weight: 500;
    margin: 1em 0;
}

.banner__search {
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}

.banner__search::placeholder {
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--white);
    background: url("../img/Pesquisa.svg") no-repeat;
    background-position: 1em;
}