.carousel__title {
    color: var(--orange);
    background-color: var(--white);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
}

.card__description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.card__buttons {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
}

.card {
    background: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0 , 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.description__title {
    color: var(--orange);
    font-weight: 700;
}

.description__title-book {
    color: var(--blue);
    font-size: 18px;
    font-weight: 700;
    margin: 0.5em 0;
}

.description__text {
    font-size: 14px;
}

.buttons__item {
    margin: 0 0.5em;
}

.buttons__anchor {
    background-color: var(--orange);
    padding: 1em 2.2em;
    color: var(--white);
    font-weight: 700;
    text-decoration: none;
}

@media screen and (min-width:1024px) {
    .carousel__title {
        font-size: 26px;
    }

    .swiper-pagination {
        margin: 2em 0 3em 0;
    }

    .swiper {
        width: 60%;
    }

    .swiper-button-prev, .swiper-button-next {
        display: block;
        top: 60%;
    }

    .card {
        width: 40%;
        margin: 2em auto;
    }

    .buttons__anchor:active {
        background-color: var(--blue);
    }
}

@media screen and (min-width:1728px) {
    .carousel__container {
        display: flex;
        margin: 0 10vw 3em 10vw;
        align-items: center;
    }

    .swiper-pagination {
        margin: 1em 0;
    }

    .swiper {
        width: 50%;
    }

    .swiper-slide {
        margin: 0 1em;
    }

    .description__title {
        font-size: 32px;
    }

    .description__text {
        width: 100%;
        font-size: 16px;
    }

    .description {
        margin-right: 2em;
    }

    .card {
        width: 60%;
        margin-left: 3em;
    }
}