.header__menu-burguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.header {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__image{
    padding: 1em;
}

.menu-list {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__button:checked ~ .menu-list {
    display: block;
}

.menu-list__title,
.menu-list__item {
    padding: 1em;
    background-color: var(--white);
}

.menu-list__title {
    color: var(--orange);
    font-weight: 700;
}

.menu-list__link {
    background: var(--gradient-blue);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.container__button {
    display: none;
}

.container__title {
    display: none;
}

.options {
    display: none;
}

.container__text {
    display: none;
}

@media screen and (min-width:1024px) {
    .container__title, .container__title--bold {
        font-family: var(--secondary-font);
        font-size: 30px;
    }

    .container__title {
        font-weight: 400;
        display: block;
    }

    .container__title--bold {
        font-weight: 700;
    }

    .options {
        display: flex;
    }

    .options__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .options__link {
        text-decoration: none;
        color: var(--black);
    }

    .container__image-transparent {
        display: none;
    }

    .header__menu-burguer {
        display: none;
    }

    .options__button:checked ~ .menu-list {
        display: block;
        width: auto;
    }

    .options__button {
        display: none;
    }
}

@media screen and (min-width:1728px) {
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--black);
    }

    .header {
        padding: 0 2em;
    }

    .options {
        margin-right: auto;
    }

    .container__text {
        display: block;
    }
}